body{
	margin: 0;
	padding: 0;
	background: #000000;
	background-size: cover;
	width: 80%;
	margin: 0 auto;
	font-style: Arial,sans-serif,poppins;
}
/*Header Section*/
header{
	height: 100px;
	padding-bottom: 15px;
	border-bottom: 5px solid #FFFd;
}
ul{
	margin: 0;
	padding: 0;
}
nav{
	float: right;
	margin-right: 0;
}
#logo{
	float: left;
	margin-top: 10px;
	padding: 0 0 0 0;
	font-size: 20px;
}
li{
	margin-top: 30px;
	font:25px/1.5 white;
	list-style: none;
	float: left;
	padding: 0 20px 0 20px;

}
li a{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 35px;
	border: 2px;
	color: #ffea00;
}
#port{
	color: darkorange;
}
#folio{
	color:#e0e0e0;
}
nav ul li a:hover{
	color: #FF0000;
}
/*Main Section*/
.main{
	height: 400px;
	width: 100%;
	padding: 0 0 0 0;
	text-decoration: none;
}
#info{
	float: left;
	text-decoration: none;
	margin-top: 0px;
}
h2{
	margin-top: 60px;
	margin-left: 60px;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration:none;
}
.button{
	margin-left: 60px;
	height: 40px;
	width: 100px;
	font-size: 15px;
	background-color: yellow;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}
img{
	margin: 0;
	float: right;
	height: 400px;
	width: 400px;
	padding: 0;
	background-color: black;
}
.cont{
	clear: both;
}
.hi, .hi1, .welcome{
	color: #33A2FF;
}
.hi:hover{
	color: #FF3377;
}
.hi1:hover{
	color: #33FF39;
}
.welcome:hover{
	color:#FF3633;
}
.button:hover{
	color:#fff;
	background-color: #4300B7;
	transition: 0.5s ease-out;
	animation: ;
}
/*AboutMe*/
.About{
	margin: 0;
	padding: 0;
	height: 200px;
}
.mere{
	margin-left: 60px;
	float: left;
	margin-top: 20px;
	font-size: 25px;
	text-decoration: none;
	color: #33A2FF;
}
p{
	margin-top: 10px;
	padding: 0 0 0 0;
	margin-left: 60px;
	float: left;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 30px;
	clear: both;
	
}
#Contact{
	clear: both;
	height: 200px;
	padding-bottom: 45px;
}
h3{
	margin-left: 60px;
	float: left;
	margin-top: 20px;
	font-size: 25px;
	text-decoration: none;
	color: #33A2FF;
}
h4{
	margin-left: 60px;
	float: left;
	margin-top: 0px;
	font-size: 25px;
	text-decoration: none;
	color: #33A2FF;
}
form{
	clear: both;
	margin-left: 60px;
	float: left;
	margin-top: 10px;
	font-size: 25px;
	text-decoration:none;
	color: #fff;
}
input{
	float: right;
}
footer .copy{
	height: 60px;
	color: #ffea00;
	text-align: center;
	font-size: 40px;
	padding: 15px 0 5px 0;
	border-top: 5px solid #fffd;
}
.gap{
	height: 20px;
}
#input1{
	margin-left: 10px;
	text-align: center;
	height: 25px;
	width: 200px;
}
#input2{
	margin-left: 10px;
	text-align: center;
	height: 25px;
	width: 200px;

}
.form1,.form2{
	text-transform: uppercase;
	padding: 2px 0 8px 0;
	font-size: 20px;
}
.about{
	color:#00FFE1;
	font-size: 30px;
}
.about:hover{
	color: #65FF00;
}
.suraj{
	color:red;
}
.suraj:hover{
	color: #fff;
}
.container {
  width: 80%;
  background-color: #ddd;
  clear: both;
  margin-left: 60px;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.ski{
	float: left;
	margin: 0;
	font-size: 30px;
	margin-left: 60px;
	margin-bottom: 30px;
	padding: 0;
	color: #00FFE1;
}
.ski:hover{
	color: #65FF00;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 70%; background-color: #f44336;}
.php {width: 60%; background-color: #001F65;}
.cpp {width: 80%; background-color: #B508F3;}
.python {width: 70%; background-color: #F308A8;}
.jquery {width: 65%; background-color: #006465;}
.skills p{
	font-size: 25px;
}
.skills .p1:hover{
	color:  #4CAF50;
}
.skills .p2:hover{
	color: #2196F3;
}
.skills .p3:hover{
	color: #f44336;
}
.skills .p4:hover{
	color: #E559FF;
}
.skills .p5:hover{
	color: #9CEA7F;
}
.skills .p6:hover{
	color:  #F308A8;
}
.skills .p7:hover{
	color:  #7FA0EA;
}
.Submit{
	height: 40px;
	width: 100px;
	background-color: yellow;
	font-size: 20px;
}
.Submit:hover{
	color: #fff;
	background-color: darkorange;
}